In [3]:

# 1. Load the dataset
df = pd.read_csv('Dataset.csv')

print("Dataset Shape:", df.shape)

print("\nFirst 5 rows:")
display(df.head())

print("\nData Info:")
print(df.info())

Dataset Shape: (2514, 6)

First 5 rows:

         Date     Close      High       Low      Open     Volume
0  2016-01-04  0.789588  0.794710  0.781538  0.787636  358076000
1  2016-01-05  0.802272  0.815688  0.792759  0.804467  490272000
2  2016-01-06  0.769098  0.792759  0.760073  0.789100  449344000
3  2016-01-07  0.738607  0.754950  0.728850  0.749828  645304000
4  2016-01-08  0.722752  0.748852  0.721289  0.748120  398472000

Data Info:
<class 'pandas.DataFrame'>
RangeIndex: 2514 entries, 0 to 2513
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2514 non-null   str
 1   Close   2514 non-null   float64
 2   High    2514 non-null   float64
 3   Low     2514 non-null   float64
 4   Open    2514 non-null   float64
 5   Volume  2514 non-null   int64
dtypes: float64(4), int64(1), str(1)
memory usage: 118.0 KB
None